@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    background-color: gray;
    color: #f1f1f1;
    text-align: center;
    padding: 20px;
}

#img-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

#image{
    width: 100%;
    border-radius: 2.5%;
    margin-bottom :auto;
}

#img-info{
    margin-top: 5px;
    margin-bottom: 10px;
}

#title{
    font-size: 2rem;
}

#sub-title{ 
    margin: 10px auto;
}

.tribute-info li{
    margin-bottom: 15px;
}